<header class='main-header'>
    <div class='top-bar-wrapper' href='http://localhost:3000/?'>
        <div class='top-bar container'>
            <div class='logo-area'>
                <a href='/' class='logo-link'>
                    <div class='logo-text'>
                        <img
                            src='https://cdn.xosodaiphat.com/assets/images/logo.svg'
                        />
                    </div>
                </a>
            </div>
            <div class='ad-banner'>
                <div class='ad-label'>QUẢNG CÁO</div>
                <div class='ad-content'>
                    <img
                        src='https://tpc.googlesyndication.com/simgad/1636368975115146746'
                        alt='Quảng cáo'
                    />
                </div>
            </div>
            <div class='auth-area'>
                <a href='#' class='login-button'>
                    <i class='fas fa-user'></i>
                    Đăng nhập
                </a>
            </div>
        </div>
    </div>

    <nav class='main-nav'>
        <div class='nav-container container'>
            <a href='/' class='nav-item home-icon'><i
                    class='fas fa-home'
                ></i></a>
            <a href='#' class='nav-item'>XSMB</a>
            <a href='#' class='nav-item'>XSMN</a>
            <a href='#' class='nav-item'>XSMT</a>
            <a href='#' class='nav-item'>Vietlott</a>
            <a href='#' class='nav-item'>Tra Cứu XS</a>
            <a href='#' class='nav-item'>TK Loto</a>
            <a href='#' class='nav-item'>Loto</a>
            <a href='#' class='nav-item'>Thống Kê Xổ Số</a>
        </div>
    </nav>
</header>