<div class='main-container'>

    <div class='column-left'>

        <div class='menu-block'>
            <h3>Thống Kê Loto</h3>
            <ul>
                <li><a href='/partials/thong-ke-tong-hop-xsmb'>TK tổng hợp</a></li>
                <li><a href='/partials/tklotogan'>TK loto gan</a></li>
                <li><a href='/partials/tklotogancv'>TK cặp loto cùng về</a></li>
                <li><a href='#'>TK loto kép</a></li>
                <li><a href='#'>TK loto đầu</a></li>
                <li><a href='#'>TK loto đuôi</a></li>
                <li><a href='#'>TK giải đặc biệt</a></li>
                <li><a href='#'>TK lần xuất hiện</a></li>
                <li><a href='#'>TK 00 - 99</a></li>
                <li><a href='#'>TK chu kỳ</a></li>
            </ul>
        </div>

        <div class='menu-block'>
            <h3>Thống Kê Vietlott</h3>
            <ul>
                <li>TK xổ số Mega 6/45
                    <ul>
                        <li><a href='#'>TK lần xuất hiện</a></li>
                        <li><a href='#'>TK theo thứ</a></li>
                    </ul>
                </li>
                <li>TK xổ số Keno
                    <ul>
                        <li><a href='#'>TK Keno cơ bản</a></li>
                        <li><a href='#'>TK Keno bổ sung</a></li>
                    </ul>
                </li>
            </ul>
        </div>

        <div class='menu-block highlighted'>
            <h3>Xổ Số Trực Tiếp Hôm Nay</h3>
            <ul>
                <li>XSMN (16h10)
                    <ul>
                        <li><a href='#'>An Giang</a></li>
                        <li><a href='#'>Tây Ninh</a></li>
                        <li><a href='#'>Bình Thuận</a></li>
                    </ul>
                </li>
                <li>XSMT (17h15)
                    <ul>
                        <li><a href='#'>Bình Định</a></li>
                        <li><a href='#'>Quảng Nam</a></li>
                        <li><a href='#'>Quảng Trị</a></li>
                    </ul>
                </li>
                <li>XSMB (18h15)
                    <ul>
                        <li><a href='#'>Miền Bắc</a></li>
                    </ul>
                </li>
            </ul>
        </div>

        <div class='menu-block'>
            <h3>Xổ Số Hôm Qua</h3>
            <ul>
                <li><a href='#'>Miền Bắc</a></li>
                <li><a href='#'>Đồng Nai</a></li>
                <li><a href='#'>Sóc Trăng</a></li>
                <li><a href='#'>Cần Thơ</a></li>
                <li><a href='#'>Khánh Hòa</a></li>
                <li><a href='#'>Đà Nẵng</a></li>
            </ul>
        </div>

        <div class='menu-block'>
            <h3>KQXS theo tỉnh</h3>
            <ul>
                <li><a href='#'>Miền Bắc</a></li>
                <li>Miền Trung &nabla;</li>
                <li>Miền Nam &nabla;</li>
            </ul>
        </div>

    </div>
    <div class='column-right'>

        <div class='info-block'>
            <h3>Tra Cứu Xổ Số</h3>
            <ul>
                <li><a href='#'>XSMB hôm qua</a></li>
                <li><a href='#'>XSMB 30 ngày</a></li>
                <li><a href='#'>XSMB 90 ngày</a></li>
                <li><a href='#'>XSMN hôm qua</a></li>
                <li><a href='#'>XSMN 30 ngày</a></li>
                <li><a href='#'>XSMN 90 ngày</a></li>
                <li><a href='#'>XSMT hôm qua</a></li>
                <li><a href='#'>XSMT 90 ngày</a></li>
            </ul>
        </div>

        <div class='info-block'>
            <h3>Xổ Số Điện Toán</h3>
            <ul>
                <li>Keno</li>
                <li>XS Mega 6/45
                    <ul>
                        <li>Thứ 4</li>
                        <li>Thứ 6</li>
                        <li>Chủ Nhật</li>
                    </ul>
                </li>
                <li>XS Power 6/55
                    <ul>
                        <li>Thứ 3</li>
                        <li>Thứ 5</li>
                        <li>Thứ 7</li>
                    </ul>
                </li>
                <li>XS Max 3D
                    <ul>
                        <li>Thứ 2</li>
                        <li>Thứ 4</li>
                        <li>Thứ 6</li>
                    </ul>
                </li>
                <li>XS Max 3D Pro
                    <ul>
                        <li>Thứ 3</li>
                        <li>Thứ 5</li>
                        <li>Thứ 7</li>
                    </ul>
                </li>
                <li><a href='#'>XS Điện toán 6x36</a></li>
                <li><a href='#'>XS Điện toán 123</a></li>
                <li><a href='#'>XS Thần tài 4</a></li>
            </ul>
        </div>

        <div class='doveso-block'>
            <h3>Dò Vé Số</h3>
            <form>
                <div class='form-row'>
                    <label for='date'>Chọn ngày:</label>
                    <input type='date' id='date' value='2025-11-19' />
                </div>
                <div class='form-row'>
                    <label for='region'>Chọn tỉnh:</label>
                    <select id='region'>
                        <option>Miền Bắc</option>
                        <option>Miền Nam</option>
                        <option>Miền Trung</option>
                    </select>
                </div>
                <div class='form-row input-row'>
                    <input
                        type='text'
                        placeholder='Nhập dãy số'
                        class='number-input'
                    />
                    <button type='submit' class='submit-button'>Kết quả</button>
                </div>
                <p class='note'>( Có thể nhập tối thiểu 2 số, tối đa 17 số )</p>
            </form>
        </div>

    </div>
</div>