{{> trangchu/header}}
<div class="bossmb">
<div class="xsmb1">
<div class="xsmb">
    {{> trangchu/xosomienbac}}
    {{> trangchu/xosomiennam}}
    {{> trangchu/xosomientrung}}
    {{> trangchu/jackpot}}
    {{> trangchu/max3d}}
    
</div>
{{!-trangchu/- Thống kê lô tô --}}
    {{> trangchu/menu}}
{{!-trangchu/- Tra cứu xổ số --}}
</div>
</div>
{{> trangchu/footer}}


